<ion-view title="Find" align="center">
    <ion-content>	
        	<!--<div id="full" style="border:2px;">-->
	   <div class="card">
            <div class="row">
                <div class="col"><h4>Find Your Dream Internship</h4></div>
            </div>
        </div>
        <div class="card" >
            
            
                <form>
                
            
            
                <label class="item item-input item-select">
                    <div class="input-label">City</div>
                    <select ng-model="choice.CityName">
                        <option value="" selected>Select Your City</option>
                        <option ng-repeat="x in city|orderBy:'Name'" value="{{ x.Name }}">
		                          {{ x.Name }}
		                </option>
                    </select>
                
                </label>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Functional Area
                    </div>
                    <select ng-model="choice.myFunctionalArea" ng-change="AreaChange()">
                        <option value="" selected>Select Your Functional Area</option>
                        <option value="{{ x.Name }}"  ng-repeat="x in functionalArea|orderBy:'Name'">
                                {{ x.Name }}                           
                        </option>
                    </select>
                
                </label>
                <br>
                {{SelectArea}}
                <div class="card animated"  ng-class="ShowIT ? 'bounceInLeft' : 'bounceOutRight'" ng-click="showCateg()">
                    IT and Computers    
                    <div class="xyz" ng-hide="myCategoryCheck">
                    xyxyy<br>
                    ibuyhiu<br>
                    iuhiubib<br>
                    kbdiubs<br>
                    </div>
                </div>
                    
                <div class="card animated" ng-class="ShowMngt ? 'bounceInLeft' : 'bounceOutRight'" ng-click="showCateg1()">
                    Management
                    <div class="xyz" ng-hide="myCategoryCheck1">
                    xyxyy<br>
                    ibuyhiu<br>
                    iuhiubib<br>
                    kbdiubs<br>
                    </div>
                </div>
                    
                <div class="card animated" ng-class="ShowMedia ? 'bounceInLeft' : 'bounceOutRight'" ng-click="showCateg2()">
                    Multimedia
                    <div class="xyz" ng-hide="myCategoryCheck2">
                    xyxyy<br>
                    ibuyhiu<br>
                    iuhiubib<br>
                    kbdiubs<br>
                    </div>
                </div>
                    
                    <style>
                        .xyz {
                        transition: all linear 0.5s;
                       
                        height: 100px;
                        width: 95%;
                        position: relative;
                        top: 0;
                        left: 0;
                    }
                        .ng-hide {
                        height: 0;
                        width: 0;
                        background-color: transparent;
                        top:-200px;
                        left: 200px;
                    }
                    </style>
                   <!--<div ng-switch="choice.myFunctionalArea">
                        <div ng-switch-when="">
                            <h1>No Functional Area Selected Please Select </h1>
                        </div>
                        <div ng-switch-when="IT and Computers" class="card animated" ng-class="(choice.myFunctionalArea == 'IT and Computers') ? 'bounceInRight' : 'bounceOutLeft'">
                            <h1>IT and Computer Functional Area Selected </h1>
                        </div>
                        <div ng-switch-when="Management" class="card animated" ng-class="(choice.myFunctionalArea == 'Management') ? 'bounceInLeft' : 'bounceOutRight'">
                            <h1>Management Functional Area Selected </h1>
                        </div>
                        <div ng-switch-when="Multimedia" class="card animated" ng-class="(choice.myFunctionalArea == 'Multimedia') ? 'bounceInLeft' : 'bounceOutRight'">
                            <h1>Multimedia Functional Area Selected </h1>
                        </div>
                    </div>-->
                
                <!--<ion-list>
                    <ion-item class="item-stable"
                              ng-click="toggleCategory()"
                              ng-class="{active: isCategoryShown()}">
                        
                        <i class="icon" ng-class="isCategoryShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
                        &nbsp; 
                        Select Category
                    </ion-item>  
                
                    <ion-item class="item-accordion" ng-show="isCategoryShown()">                        
                        <div ng-switch="choice.myFunctionalArea">
                            <div ng-switch-when="">
                                <h1>No Functional Area Selected Please Select </h1>
                            </div>
                            <div ng-switch-when="IT and Computers">
                               
                                 //Comment<ion-radio ng-repeat="x in Category.ITCategory"
                                            ng-model="choice.ITChoice"
                                            ng-show="isCategoryShown()"
                                            value="{{x.Name}}">
                                     {{x.Name}}
                                </ion-radio>//Comment
                                
                                <ion-radio ng-model="choice.ITChoice"
                                           ng-show="isCategoryShown()"
                                           value="Android">
                                        Android
                                </ion-radio>
                                           
                                
  
                                
                            </div>

                            <div ng-switch-when="Management">
                                 <ion-radio ng-model="choice.ManagementChoice"
                                            ng-repeat="x in Category.ManagementCategory"
                                            ng-show="isCategoryShown()"
                                            ng-value="'{{x.Name}}'">
                                     {{x.Name}}
                                </ion-radio>
                            </div>
                            <div ng-switch-when="Multimedia">
                                 <ion-radio ng-model="choice.MultimediaChoice"
                                            ng-repeat="x in Category.MultimediaCategory"
                                            ng-show="isCategoryShown()"
                                            ng-value="'{{x.Name}}'">
                                     {{x.Name}}
                                </ion-radio>
                            </div>

                        </div>
                    </ion-item>
                    
                </ion-list>-->
        
                <div class="card" ng-click="findInternss(choice)" >
                    <div class="row">
                        <div class="col"><h4>Find Your Dream Internship</h4></div>
                    </div>
                    
                </div>
                
                </form>
        
            
        </div>
        
    </ion-content>
</ion-view>
<!--<style type="text/css">
		#block{
		  width: 85%;
		  height: 30%;
		  margin-left: 6%;
		  margin-right: 2%;
		  padding: 2%;
		  border-radius: 15px 50px 30px;
		  border: 1px solid #8a6de9;  
		  float: left;
		  margin-bottom: 8%;
		}
		#chk{
		  float: left;
		}
		</style>   
-->
	            <!--<p style="margin-top:3%;margin-left:5%;">Select</p>
	            <div id="selectdiv" class="form-group">
		            //Comment<label id="labeldiv">Select City</label>
		            <select class="form-control select2" style="width: 100%;"  ng-model="frm.CityName">
		                <option  ng-repeat="x in city|orderBy:'CityName'" value="{{ x.CityName }}">
		                          {{ x.CityName }}
		                </option>
		            </select> //Comment
		            <label class="item item-input item-select">
				    <div class="input-label">
				      City
				    </div>
				    <select  style="width: 100%;"  ng-model="frm.CityName" required>
						<option  ng-repeat="x in city|orderBy:'CityName'" value="{{ x.CityName }}">
		                          {{ x.CityName }}
		                </option>
				    </select>
				  </label>
	            </div>
	            <p style="margin-top:2%;margin-left:5%;">&</p>
	            <div id="selectdiv" class="form-group">
	                 Comment <label id="labeldiv">Select Functional Area</label>
	                <select class="form-control select2" style="width: 100%;"  ng-model="frm.FunctionalArea">
	                    <option value="{{ x.FunctionalArea }}"  ng-repeat="x in functionalarea|orderBy:'FunctionalArea'">{{ x.FunctionalArea }}</option>
	                </select> //Comment
		            <label class="item item-input item-select">
				    <div class="input-label">
				      Functional Area
				    </div>
				    <select  style="width: 100%;"  ng-model="frm.FunctionalArea">
						<option value="{{ x.FunctionalArea }}"  ng-repeat="x in functionalarea|orderBy:'FunctionalArea'">{{ x.FunctionalArea }}</option>
				    </select>
				  </label>	                
	            </div>
            </div>
                
      		<div id="rowdiv">  
        		<label id="labeldiv" style="margin-left:6%;">Category you have</label>
				<div id="" style="width:100%;overflow-y:scroll; overflow-x:hidden; height:260px; margin-left:4%;">
  					<div id="block" ng-repeat="x in category|orderBy:'Category_Name'" ng-click="checkbx(id)">
    					//Comment<input type="checkbox" id="{{x.Category_Name}}" ng-model="x.value">
    					{{ x.Category_Name }}<br> // Comment
    					<ion-checkbox  id="{{x.Category_Name}}" ng-model="x.value" style="border:none"  on-double-tap="onPop({{x.Category_Name}})">
    					{{ x.Category_Name }}</ion-checkbox><br>
  					</div>
				</div>
				//Comment <button type="submit" class="btn bg-maroon margin">Find Internships</button> ui-sref="internshiplist" //Comment
				<center><button type="submit" ng-click="findInternss()" class="button button-small" id="defaultColor" style="bottom:0;margin-top:5%;padding-left:10%;padding-right:10%; color: #fff;">Find Internships</button></center>
				
        	</div>-->
        
			
	
