<ion-view title="Home" align="center">
    <ion-content>
        <div>
            <h3 style="margin-top:5%;">Welcome to InternKatta</h3>
            <div class="card">
               <div class="row">
                    <div class="col"><h4>InternKatta</h4><h5>Find Your Dream Internship</h5></div>
                    <div class="col"><img src="img/internkatta.png" style="width:130px; height:100px; "/></div>
                    
                </div>
            </div>
            <div class="card" ui-sref="find">
               <div class="row">
                    <div class="col"><h4>Find Internships</h4></div>
                
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="img/question-mark.svg" style="width:110px; height:90px; margin-top:11px;"/>
                        <h4>Why Internship</h4>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="img/thumb-up.svg" style="width:110px; height:90px; margin-top:11px;"/>
                        <h4>Why Internkatta</h4>
                    </div>
                </div>
            
            </div>
            
        </div>    
       
    </ion-content>
    <ion-footer-bar></ion-footer-bar>
</ion-view>