<ion-view title="Home" align="center">
    <style>
        .deck-card{
             border:2px solid #f4f4f4;
            border-bottom-color: lightgray;
        }
        
    </style>
    <ion-content>
        <div>
            
            <div class="card">
               <div class="row">
                   
                    <div class="col"><h3>Welcome to InternKatta</h3></div>
                </div>
                <div class="row">
                    <div class="col"><h4>InternKatta</h4><h5>Find Your Dream Internship</h5></div>
                    <div class="col"><img src="img/internkatta.png" style="width:130px; height:100px; "/></div>
                    
                </div>
            </div>
            <div class="card" ui-sref="find">
                <h4>Find Internships</h4>
            
            </div>
            
            
                <div class="row">
                    <div class="col">
                        <div class="deck-card" ng-click="showInternship()">
                            <img src="img/question-mark.svg" style="width:80px; height:60px; margin-top:11px;"/>
                            <h4>Why Internship</h4>

                        </div>
                    </div>
                    <div class="col">
                        <div class="deck-card" ng-click="showIntern()">
                            <img src="img/thumb-up.svg" style="width:80px; height:60px; margin-top:11px;"/>
                            <h4>Why Internkatta</h4>
                        </div>
                    </div>    


            
            </div>
            
            
            <!--<div class="card animated" ng-class="myCheck ? 'fadeInDown' : 'fadeOutUp'">
               <div class="list">

                <a class="item item-icon-left" ng-click="closeModel()">
                    <i class="icon ion-close-circled"></i>
                    About {{InfoData}}
                </a>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              
               
                
            </div>-->
            <div class="card xyz" ng-show="myCheck">
                    <a class="item item-icon-left" ng-click="closeModel()">
                    <i class="icon ion-close-circled"></i>
                    {{InfoTitle}}
                </a>
                
                <div id="xyza" > 
                    <ul>
                        <li ng-repeat="x in InfoData">
                            {{x.Line}}
                        </li>
                    </ul>
                </div>
            </div>
            <style>
                

                @keyframes myChange {
                      from {
                          height: 100px;
                      } to {
                          height: 0;
                      }
                    }

                    .xyz {
                      height: 100%;
                      background-color: #8a6de9;
                    }

                    div.ng-hide {
                      animation: 0.5s myChange;
                    }

                    #xyza
                    {
                        color: #fff;
                        margin : 10px;


                    }

                    li
                    {
                        text-align: left;
                    }
            </style>
            <!--<div class="card animated" ng-class="myCheck1 ? 'fadeInDown' : 'fadeOutUp'">
                <p class="showtxt"><strong>Internship</strong></p>
            </div>
            
            <style>
                .xyz {
                        transition: all linear 0.5s;
                       
                        height: 100px;
                        width: 95%;
                        position: relative;
                        top: 0;
                        left: 0;
                    }

                .ng-hide {
                        height: 0;
                        width: 0;
                        background-color: transparent;
                        top:-200px;
                        left: 200px;
                    }
                .showtxt{
                    
                    color : #6640e2;
                    font-size: 20px;
                }
            </style>
            -->
            
        </div>    
       
    </ion-content>
    